.container {
    margin-top: 150px;
}


.card {
    margin-bottom: 25px;
    background-color: beige;
    border-color: #360505ce;
}




.btn {

    margin-top: 10px;
    margin-left: 2px;

    margin-bottom: 10px;

}